body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.figure{
    position: absolute;
    margin-top: 190px;
    height: auto;
}

#canvas{
    border: 1px solid black;
    background-color: chartreuse;
    z-index: 1;
    margin-top: 240px;
    margin-left: 28px;
}